/*Index Page/Body*/

body {
  background: #999999;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #003cb3;
	border-radius: 15px;
}

#navlist {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 3px solid #999999;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#navlist a {
	text-decoration: none;
}


#navlist a:link {
	color: #999999;
}

#navlist a:visited {
	color: #999999;
}

#navlist:hover {
	background-color: #002266;
}

#navlist a:active {
	color: #999999;
}

#welcome {
	text-align: center;
	text-shadow: 1.5px 1.5px #003cb3;
}

form {
	border-style: ridge;
	border-color: #003cb3;
	border-radius: 5px;
}

p {
	text-align: center;
}


/*Resume Page*/

#resume {
	text-align: center;
}

