/*Index Page/Body*/

body {
  background: #999999;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

#navbar {
	list-style-type: none;
	margin: -2px;
	padding: 0px;
	overflow: hidden;
	background-color: #003cb3;
	border-radius: 8px;
	position: fixed;
    top: 0px;
    width: 98.5%;
    border: 1px solid black;
    z-index: +1;
}

#navlist {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-right: 1.5px solid #999999;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#navlist a {
	text-decoration: none;
}


#navlist a:link {
	color: #999999;
}

#navlist a:visited {
	color: #999999;
}

#navlist:hover {
	background-color: #002266;
}

#navlist a:active {
	color: #999999;
}

#welcome {
	text-align: center;
	text-shadow: 1.5px 1.5px #003cb3;
	margin-top: 60px
}

form {
	border-style: ridge;
	border-color: #003cb3;
	border-radius: 5px;
}

p {
	text-align: center;
}

input {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #003cb3;
	border-radius: 4px;
}

textarea {
	width: 50%;
	height: 100px;
	padding: 12px 20px;
	margin: 8px 0px 0px 44px;
	box-sizing: border-box;
	border: 2px solid #003cb3;
	border-radius: 4px;
}

button {
	background-color: #003cb3;
	border: none;
	color: #999999;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 12px;
	border-radius: 4px;
	position: relative;
	left: 260px;
}

#profile {
	border-radius: 20px;
	width: 40%;
	height: 40%;
	position: relative;
	z-index: -1;
	left: 50px;
}

#link {
	position: relative;
	float: right;
	width: 275px;
	padding: 20px;
	right: 200px;
	top: 115px;
}

#link a:link {
	color: #800000;
}

#link a:visited {
	color: #00FF7F;
}


/*Resume Page*/

#resume {
	text-align: center;
	font-size: 24pt;
	text-decoration: underline;
	text-shadow: 1.5px 1.5px #003cb3;
	margin-top: 60px;
}

#resumepic {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*About Me Page*/

#header1 {
	margin-top: 60px;
	text-align: center;
	text-shadow: 1.5px 1.5px #003cb3;
}

#farrand {
	float: right;
	padding: 20px 20px 20px 20px;
	position: relative;
	bottom: 130px;
}

#aboutlist {
	list-style-type: square;
	position: relative; 
	top: 25px;
	padding-bottom: 25px;
}

table, th, td {
	border: 1px solid black;
	text-align: center;
	position: relative;
	border-collapse: collapse;
	font-family: Arial Black, Gadget, sans-serif;
}

td:hover {
	background-color: #003cb3;
}

th {
    background-color: #003cb3;
    color: black;
}

#copyright {
	font-size: 8pt;
	position: relative;
	top: 1px;
}

/*Success Page*/

#success {
	text-align: center;
	color: white;
	text-shadow: 1.5px 1.5px #A9A9A9;
	margin-top: 100px;
	font-weight: bold;
}

#success2 {
	text-align: center;
	color: white;
	text-shadow: 1.5px 1.5px #A9A9A9;
	margin-top: 25px;
	margin-bottom: 100px
}

#successbody {
	background-image: url(images/success_background.jpg);
}

#resumereturn {
	color: white;
}

#resumereturn a:link {
	color: #999999;
}

#resumereturn a:visited {
	color: #999999;
}


